# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/


# Logs
logs/
*.log

# Models (large files)
models/*.zip

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# PyTorch / Cache
*.pt
*.pth

# Misc
*.tmp
*.swp